.agents-card-main{
  margin : 7rem 0rem 7rem 0rem;
  height: 40.5rem;
}

.agent-card{
  height: 45rem;
  margin-left: 3rem;
  margin-right: 0.4rem;
}

@media (max-width: 425px) {
  .agent-card {
      margin-left: 29px;
  }
}
@media (min-width:426px) and (max-width: 768px){
  .agent-card {
    margin-left: 8px;
}
}