@import url('https://fonts.googleapis.com/css?family=Open+Sans:600|Work+Sans:400,500,600,700&display=swap');

body{
  background: rgb(34,193,195);
  // background: linear-gradient(90deg, rgba(34,193,195,1) 20%,     rgba(253,187,45,1) 100%);
  // width: fit-content;
  // height: fit-content;
}

.home-page{
  transition: margin-left 500ms ease-in-out;
  overflow: hidden;
}

.menubar{
  height: 3rem;
  width: 100%;
  position: fixed;
  top:0;
  z-index: 1000;
  padding-bottom: 3rem;
}
.push-main{
  margin-left: 16rem;
}

.header{
  height: 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  margin-top: 5rem;
  margin-bottom: 2rem;
  margin-left: 6rem;
}

.searchInput{
  height: 3rem;
  width: 35rem;
  border: none;
  border-radius: 1.25rem;
  font-family: "CostarBrownLight";
  font-size: 1.25rem;
  margin-right: 0.2rem;
}
.search-button{
  height: 3rem;
  width: 5rem;
  border-radius: 0.5rem;
  background-color: #427b01;
  border-color: #427b01;
  color: #fff;
  border:none;
}
.search-bar{
  display: flex;
}
.greetings{
  font-family: "CostarBrownLight";
  font-size: 1.5rem;
  color: #fff;
  margin-top: 0.8rem;
}
.footer-div{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile-name{
  font-size: 16px;
}
.profile-email{
  font-size: 11px;
}
.card-grid-container {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;

  // display: grid; /* Enables grid layout */
  // grid-template-columns: repeat(4, 1fr); /* 4 columns */
  // gap: 16px; /* Space between grid items */
  padding: 20px; /* Padding around the grid */
  margin-left: 5rem;
}
.footer{
  width: 100%;
  height: 6rem;
}
.card {
  border-radius: 8px; /* Rounded corners */
  overflow: hidden;
  width: 350px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(12, 12, 12, 0.1); /* Shadow for elevation */
  transition: transform 0.4s; /* Smooth transition on hover */
}

.card:hover {
  transform: translateY(-5px); /* Lift on hover */
}

.aspect-video {
  position: relative;
  padding-top: 56.25%; /* 16:9 aspect ratio */
  overflow: hidden;
}

.aspect-video img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Maintain aspect ratio while covering */
  // border: solid 0.5px black ;
}

.card-body {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  padding-top: 10px; /* Padding inside the card */
}

.card-title {
  font-size: 1.2rem; /* Font size for the title */
  font-weight: 600;
}

.img-logo{
  width: 2rem;
  height: 2rem;
  background-color: #C1C1C9;
  border-radius: 50%;
  margin-left: 1.7rem;
  margin-top: 0.8rem;
  transition: margin-left 500ms ease-in-out;
}
.push-img-logo{
  width: 2rem;
  height: 2rem;
  background-color: #C1C1C9;
  border-radius: 50%;
  margin-left: 18rem;
  transition: margin-left 500ms ease-in-out;
  margin-top: 0.8rem;
}
.profile{
  margin-left: 1px;
  transition: margin-left 500ms ease-out-in;
}

.services{
  height: fit-content;
  margin-top: 2rem;
  margin-left: 11rem;
  margin-bottom: 1rem;
}


.logo-footer{
  border-radius: 50% ;
  width: 2rem;
  height: 2rem;
   transition: margin-left 500ms ease-in-out;
}
.logo-footer-push{
  border-radius: 50% ;
  width: 2rem;
  height: 2rem;
  margin-left: 19rem;
   transition: margin-left 500ms ease-in-out;
}

// /* Description */
.line-clamp-3 {
  font-size: 0.9rem;
  color: #6b7280;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  margin-bottom: 2px;
}

// /* Price */
.card-subtitle {
  font-size: 1rem;
  font-weight: bold;
  color: #ff6347; /* Change color as desired */
  margin-top: 1.5px;
}

/* Responsive styling */
@media (max-width: 425px){
  //Homepage
  .header {
    height: 3.5rem;
    margin: 5rem 1rem 2rem 3rem;
  }
  .search{
    width: 20rem
  }
  .greetings{
    font-size: large;
  }
  .card-grid-container{
    margin-left: 1rem;
    gap: 15px;
  }
  .card{
    width: 160px;
    height: 160px;
  }
  .card-title {
    font-size: 0.7rem;
    font-weight: 600;
    margin-top: -1.3rem;
 }
.p-card .p-card-body {
  padding: 0.2rem;
}
.side-text, .profile-text, .profile-name, .profile-email, .card-subtitle{
  visibility: hidden;
}
.push-main {
  margin-left: 1.7rem;
}
.push-img-logo{
 margin-left:2rem;
}
.logo-footer-push{
  margin-left: 2.6rem;
}
.img-shadow{
  margin: 0.4rem -10rem 0rem 0rem;
}

}

@media (min-width:426px) and (max-width: 768px){
.push-main {
  margin-left: 9rem;
}
.header {
  height: 3.5rem;
  margin: 5rem 1rem 2rem 1.5rem;
}
.search{
  width: 36rem
}
.greetings{
  font-size: large;
}
.card-grid-container{
  display: flex;
  flex-wrap: wrap;
  margin-left: 1rem;
  margin-right: 0rem;
  gap: 15px;
}
.card{
  width: 270px;
  height: 270px;
}

.card-title {
  font-size: 0.7rem;
  font-weight: 600;
  margin-top: -1.3rem;
}
.card-subtitle{
  font-size: 0.8rem;
}
.card-body{
  margin-left: 0.3rem;
  margin-top: 1.6rem;
}
.p-card .p-card-body {
padding: 0.2rem;
}
.push-img-logo{
  margin-left:8.3rem;
 }
 .logo-footer-push{
   margin-left: 10rem;
 }

}
// @media (max-width: 1024px) {
//   .card-grid-container {
//     grid-template-columns: repeat(2, 1fr); /* 2 columns on smaller screens */
//   }
// }

// @media (max-width: 640px) {
//   .card-grid-container {
//     grid-template-columns: 1fr; /* 1 column on very small screens */
//   }
// }
// @media (max-width: 1900px) {
//   .card-grid-container {
//     grid-template-columns: repeat(5, 1fr) /* 1 column on very small screens */
//   }
// }
.p-icon {
  display: inline-block;
  visibility: hidden;
}