@import url('https://fonts.googleapis.com/css?family=Open+Sans:600|Work+Sans:400,500,600,700&display=swap');

body{
  background: rgb(34,193,195);
  // background: linear-gradient(90deg, rgba(34,193,195,1) 20%,     rgba(253,187,45,1) 100%);
  width: fit-content;
  height: fit-content;
}
.home-page{
  // margin-left: 3.5rem;
  transition: margin-left 500ms ease-in-out;
}
.push-home-page{
  width: fit-content;
  height: fit-content;
  // margin-left: 11.5rem;
  // margin-right: -2rem;
  // transition: margin-left 500ms ease-in-out;
  
  .push-img-logo{
    width: 2rem;
    height: 2rem;
    background-color: #C1C1C9;
    border-radius: 50%;
    margin-left: 18rem;
    transition: margin-left 500ms ease-in-out;
    margin-top: 0.8rem;
  }

  .push-profile{
    margin-right: 1rem;
    transition: margin-right 500ms ease-in-out;
  }
  .header-push{
    margin-left: 23rem;
    margin-top: 3rem;
    height: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: start;
  // align-content: flex-start;
   justify-content: start;
  //  margin-top: 3rem;
   margin-bottom: 2rem;
  // margin-left: 1.3rem;
    // margin-left: 11rem;
  }
  .home-card-push{
    display: flex;
    flex-wrap: wrap;
    // display: grid; /* Enables grid layout */
    // grid-template-columns: repeat(4, 1fr); /* 4 columns */
    gap: 16px; /* Space between grid items */
    padding: 20px; /* Padding around the grid */
    margin-left: 22rem;
    // margin-left: 1rem;
  }
  .services-push{
      // display: flex;
      // align-items: start;
      // justify-content: start;
      // width: 55rem;
      height: fit-content;
      margin-top: 2rem;
      margin-left: 23rem;
      margin-bottom: 1rem;
    
  }
  .contact-push{
    padding-bottom: 1rem;
    height: 10rem;
    margin-left: 23rem;
  }
}
.menubar{
  height: 3rem;
  width: 113%;
  position: sticky;
  top:0;
  z-index: 1000;
  margin-left: 0.1rem;
  padding-bottom: 3rem;
  // margin-right: -3rem;
}
.header{
  height: 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  // align-content: flex-start;
  justify-content: start;
  margin-top: 3rem;
  margin-bottom: 2rem;
  // margin-left: 1.3rem;
  margin-left: 11rem;
}

.searchInput{
  height: 3rem;
  width: 35rem;
  border: none;
  border-radius: 1.25rem;
  font-family: "CostarBrownLight";
  // width: calc(100% - 0.5rem);
  font-size: 1.25rem;
  margin-right: 0.2rem;
}
.search-button{
  height: 3rem;
  width: 5rem;
  border-radius: 0.5rem;
  background-color: #427b01;
  border-color: #427b01;
  color: #fff;
  border:none;
}
.search-bar{
  display: flex;
}
.greetings{
  font-family: "CostarBrownLight";
  font-size: 1.5rem;
  color: #fff;
  margin-top: 0.8rem;
}

// .home-card{
//   display: grid; /* Enables grid layout */
//   grid-template-columns: repeat(4, 1fr); /* 4 columns */
//   gap: 16px; /* Space between grid items */
//   padding: 20px; /* Padding around the grid */
//   margin-left: 10rem;
// }
.card-grid-container {
  display: grid; /* Enables grid layout */
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  gap: 16px; /* Space between grid items */
  padding: 20px; /* Padding around the grid */
  margin-left: 10rem;
}
//  .home-card{
//   margin-left: 10rem;
//  }

.card {
  border-radius: 8px; /* Rounded corners */
  overflow: hidden;
  width: 350px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(12, 12, 12, 0.1); /* Shadow for elevation */
  transition: transform 0.4s; /* Smooth transition on hover */
}

.card:hover {
  transform: translateY(-5px); /* Lift on hover */
}

.aspect-video {
  position: relative;
  padding-top: 56.25%; /* 16:9 aspect ratio */
  overflow: hidden;
}

.aspect-video img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Maintain aspect ratio while covering */
  // border: solid 0.5px black ;
}

.card-body {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  padding-top: 10px; /* Padding inside the card */
}

.card-title {
  font-size: 1.2rem; /* Font size for the title */
  font-weight: 600;
  // margin-bottom: 8px; /* Margin below the title */
}

.img-logo{
  width: 2rem;
  height: 2rem;
  background-color: #C1C1C9;
  border-radius: 50%;
  margin-left: 1.7rem;
  margin-top: 0.8rem;
  transition: margin-left 500ms ease-in-out;
}
// .push-img-logo{
//   width: 2rem;
//   height: 2rem;
//   background-color: #C1C1C9;
//   border-radius: 50%;
//   margin-left: 6rem;
//   transition: margin-left 500ms ease-in-out;
//   margin-top: 0.8rem;
// }
.profile{
  margin-left: 1px;
  transition: margin-left 500ms ease-out-in;
}

// .push-profile{
//   margin-right: 13rem;
//   transition: margin-right 500ms ease-in-out;
// }

.services{
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // width: 55rem;
  height: fit-content;
  margin-top: 2rem;
  margin-left: 11rem;
  margin-bottom: 1rem;
}

.contact{
  padding-bottom: 1rem;
  height: 10rem;
  margin-left: 11rem;
}







// /* Description */
.line-clamp-3 {
  font-size: 0.9rem;
  color: #6b7280;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  margin-bottom: 2px;
}

// /* Price */
.card-subtitle {
  font-size: 1rem;
  font-weight: bold;
  color: #ff6347; /* Change color as desired */
  margin-top: 1.5px;
}

/* Responsive styling */
@media (max-width: 1024px) {
  .card-grid-container {
    grid-template-columns: repeat(2, 1fr); /* 2 columns on smaller screens */
  }
}

@media (max-width: 640px) {
  .card-grid-container {
    grid-template-columns: 1fr; /* 1 column on very small screens */
  }
}
@media (max-width: 1900px) {
  .card-grid-container {
    grid-template-columns: repeat(5, 1fr) /* 1 column on very small screens */
  }
}
