/* Start Global Rules */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(180deg, #78997b, transparent);
}

.landing-page{
  overflow: hidden;
  padding-inline: 1.5rem;
}

.logo-txt {
  font-family: 'Poppins';
  font-weight: bolder;
  font-size: 23px;
  color: #FFF;
  margin: 7px 0 -4px 0;
}

.logo-txt-2 {
  font-family: 'Poppins';
  color: #FFF;
  letter-spacing: 4px;
  font-size: 11px;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

/* Start Landing Page */
.landing-page header {
  min-height: 80px;
  display: flex;
}


.landing-page header .container {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.landing-page header .logo {
  color: #5d5d5d;
  font-style: italic;
  text-transform: uppercase;
  font-size: 20px;
  margin-left: 1rem;
}


.landing-page header .links {
  display: flex;
  align-items: center;
  margin-left: auto;
  font-family: 'Poppins';
}

.landing-page header .links li {
  margin-left: 30px;
  color: #FFF;
  cursor: pointer;
  transition: .3s;
}

.btn {
  border: none;
  background-color: #fff;
  font-family: Poppins;
  font-weight: bold;
  color: #48924F;
}

.first-title {
  color: white;
  font-family: 'Poppins';
  font-weight: bolder;
  font-size: 4rem;
}

.second-title {
  color: #7d7d7d;
  font-family: poppins;
  font-size: 1.5rem;
  display: block;
}

.info {
  margin-bottom: 5rem;
}

.footer {
  background-color: #fff;
  width: auto;
  height: 21vh;
  display: flex;
  justify-content: space-around;
  margin-left: -30px;
}

.footer-items {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.titles {
  font-family: 'Poppins';
  color: #7d7d7d;
  font-size: 20px;
  font-weight: bold;
}

.item {
  width: 27rem;
  font-family: 'Poppins';
  display: flex;
  flex-direction: column;
}

.item:first-child {
  margin-left: 0.25rem;
}

.img-icons {
  height: 1.5rem;
  width: 1.5rem;
  margin-bottom: 25px;
}

.style-btn {
  border-radius: 7rem;
  padding: 7px 14px;
  color: #48924F;
  background-color: #fdfdfd;
  font-weight: bolder;
  font-size: 14px;
  cursor: pointer;
}

.landing-page header .links li:not(:last-child):hover {
  color: #48924F;
}

.landing-page .content .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing-page .content .info h1 {
  color: #5d5d5d;
  font-size: 44px;
}

.landing-page .content .info p {
  margin: 0;
  line-height: 1.6;
  font-size: 15px;
  color: #5d5d5d;
}

.landing-page .content .info button {
  border: 0;
  border-radius: 20px;
  padding: 12px 30px;
  margin-top: 30px;
  cursor: pointer;
  color: #FFF;
  background-color: #6c63ff;
}

.landing-page .content .image img {
  max-width: 100%;
  margin: 0px 20px 0px 20px;
}

.image {
  border-radius: 10px;
  display: inline-block;
  margin-bottom: 5rem;
  padding: 15px;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.logo-img {
  width: 55px;
  height: 55px;
  margin: 4px 0 0 0;
}

.OkBtn {
  border-radius: 0;
  height: 2.45rem;
  width: 3rem;
  margin: 0 0 0 -1rem;
  background-color: #374151;
  border: none;
}

.register {
  background-color: #fff;
  font-family: Poppins;
  font-weight: bold;
  color: #48924F;
  border-radius: 3rem;
  width: 10rem;
  border: 2px solid #48924F;
  margin: 2px 0 0 34px;

}

.label-reg {
  font-family: "Poppins";
  font-weight: bold;
  font-size: 10px;
  margin: 2rem 0 0 3.7rem;
}


/* Mobile screens*/
@media (max-width: 425px) {
  .content .container {
    background-color: rgba(0, 0, 255, 0.1);
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    height: 55vh;
  }

  .landing-page header .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 2rem;
    row-gap: 0.6rem;
  }

  .landing-page .content .info {
    text-align: center;
    margin-bottom: 15px 
    }

  .login-button {
    // display: none;
  }

  .style-btn {
    border-radius: 1rem;
    padding: 7px 14px;
    font-size: 8px;
    min-width: 46px;
}

  .landing-page header .logo {
    font-size: 18px;
    margin: 10px 0;
  }

  .landing-page header .links {
    font-size: 13px;
    display: flex;
    gap: 2px;
    text-align: center;
    min-width: max-content;
  }

  .landing-page header {
    min-height: auto;
    display: initial;
    }

  .first-title {
      font-size: 1.3rem;
      display: none;
  }
  .second-title {
    font-size: 1rem;
    color: white;
  }

  .image {
      border-radius: 10px;
      display: inline-block;
      margin-bottom: 0rem;
      padding: 15px;
  }

  .footer-items{
    max-width: 18rem;
    }
}

/* Tablet screens */
@media (min-width: 768px) {
  .container {
    background-color: rgba(255, 192, 203, 0.15);
    width: 690px;
    gap: 20px;
  }

  .content .container {
    display: flex;
    height: 71vh;
}

  .footer {
    height: auto;
    margin-left: 4px;
    }
  
  .first-title {
      font-size: 2.3rem;
  }
  .second-title {
    font-size: 1.2rem;
  }
}

/* Small laptops */
@media (min-width: 1024px) {

  .container {
    background-color: rgba(165, 42, 42, 0.15);
    width: 970px;
  }

  .info{
    font-size:3rem;
    }

  .first-title {
      font-size: 3.4rem;
  }

  .second-title{
    font-size: 18px;
    }

  .item{
    font-size: 12px;
    width: 20rem;
    }

  .footer-items{
    max-width: 22rem;
    }

  .img-icons{
    margin-bottom: 16px;
    }
    
  .footer{
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      height: auto;
    }
}

/* Large laptops */
@media (min-width: 1440px) {
  .container {
    background-color: rgba(0, 255, 255, 0.2);
    width: 1400px;
    gap: 140px;
  }
  
  .first-title {
    font-size: 4rem;
}
}


/* End Landing Page */