.listings-card-main{
  margin : 7rem 0rem 7rem 0rem;
  height: 60.5rem;
}
.listing-card{
  height: 65rem;
  margin-inline: 6rem;
  background-color: #d8ead5;
}
.listing-heading{
  margin: 0rem 0 1rem 6rem;
  font-family: 'Poppins';
  color: #fff;
}
.listings{
  margin: 0 0 1rem 1rem;
  background-color: #ffffff;
  color: #288728;
  border-radius: 5px;
  border:none;
}
.display-cards{
  margin: 2rem 0 0 4rem;
}
.search-listings{
  height: 2.5rem;
  width: 25rem;
  border: none;
  font-family: "Poppins";
  font-size: 0.8rem;
  margin: 0 2rem 0.5rem 3rem;
}