/* Base styles for page transition */
.fade-enter {
  opacity: 0;
}

/* Transition properties */
.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

/* Base styles for page exit */
.fade-exit {
  opacity: 1;
}

/* Transition properties */
.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}